* {
  font-size: 24px;
  font-weight: 500;
  color: white;
  border-radius: 10px;
}

#root {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.calculator {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
  max-width: 250px;
  padding: 10px;
  border: 1px solid black;
  background-color: grey;
}

.calculator :first-child,
.calculator :last-child {
  grid-column: 1 / -1;
}

input {
  color: greenyellow;
  background-color: black;
  padding-block: 15px;
  padding-inline: 10px;
  text-align: end;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

button {
  transition: all 0.3s ease-in;
  cursor: pointer;
}

button:not(:last-child) {
  background-color: rgb(176, 175, 175);
  padding: 10px;
  box-shadow: 1px 1px 2px #c5c5c5, -1px -1px 2px #ffffff;
}

button:not(:last-child):active {
  box-shadow: inset 1px 1px 6px #c5c5c5, inset -1px -1px 2px #ffffff;
  color: rgb(66, 66, 66);
}

button:last-child {
  padding: 20px;
  font-size: 32px;
  background-color: rgb(255, 102, 0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:last-child:active {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: rgb(145, 144, 144);
}
